In [1]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

In [3]:
df=pd.read_csv("tel_churn.csv")
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,Churn_num,gender_Female,gender_Male,Partner_No,Partner_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,0,True,False,False,True,...,False,False,True,False,True,False,False,False,False,False
1,1,0,56.95,1889.50,0,0,False,True,True,False,...,False,False,False,True,False,False,True,False,False,False
2,2,0,53.85,108.15,1,1,False,True,True,False,...,False,False,False,True,True,False,False,False,False,False
3,3,0,42.30,1840.75,0,0,False,True,True,False,...,True,False,False,False,False,False,False,True,False,False
4,4,0,70.70,151.65,1,1,True,False,True,False,...,False,False,True,False,True,False,False,False,False,False